<form action="/dash" method="POST">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
	Password: <input type="password" name="password"><br/>
    <input type="submit" value="Login" type="button" class="btn btn-info">
  </div>
</div>
</form>