<div class="container">
	<form action="/process_items" method="POST">
		<label>Large Pumpkin Loaves: (Price: $<%=sprintf('%.2f',  @large_price) %>)</label> <input type="text" name="large"><br/>
		<label>Small Pumpkin Loaves: (Price: $<%=sprintf('%.2f',  @small_price) %>)</label> <input type="text" name="small"><br/>
		<input type="submit" name="", value="Proceed to Personal Info">
	</form>
</div>