<div class="container">
	<h1>Thank you for your purchase! You have been emailed with your purchase details.</h1>
	<h2>Pickup</h2>
	<p>Instead of delivery, we are doing order pickups at Edinburg First United Methodist Church (3707 W. University Dr., Edinburg, TX 78541), twice a week on Wednesday nights and Saturday mornings. </p>
	<p>Orders place between Friday and Monday will be avaliable for pickup <span style="text-decoration: underline;">the following Wednesday</span>.<br/>Orders place between Tuesday and Thursday will be avaliable for pickup <span style="text-decoration: underline;">the following Saturday</span>. <br/>If you miss three pickup times after your order is placed, <span style="text-decoration: underline;">expect a phone call reminder regarding your order.</span></p>
	<p>If neither of these times work for you, make sure to contact us at <a href="tel:(956)381-9806">(956)381-9806</a>. Due to COVID-19, we are restricted in answering that phone, so you may also contact us at <a href="mailto:edinburgfirst@sbcglobal.net">edinburgfirst@sbcglobal.net</a>.</p>
	<p>With large orders (15+ loaves), delivery may be avaliable but please contact us to arrange it.</p>
</div>