<div class="container">
	<form method="POST" action="/email_csv">
		<input class="btn btn-primary" type="submit" name="", value="Email Orders CSV">
	</form>
	<br/>

	<form method="POST" action="/delete_tables">
		<input class="btn btn-danger" type="submit" name="", value="Delete Tables">
	</form>

	<a class="btn btn-primary" href="/display_orders" role="button">Display Orders</a>
	<br/><br/>
	<a class="btn btn-primary" href="/display_boxes" role="button">Display Boxes</a>
</div>