<div class="container">
<p>
    <h1>Welcome to our Pumpkin Bread site!</h1>
    Click checkout to get started with your purchase!<br/>
    If you get a lock down message, this just means that we have hit our weekly cap of 150 loaves a week. If you wish to order, please come back starting the following Sunday.<br/>
</p>

<p>
    <h2>PayPal</h2>
    We are using PayPal to process transactions, however, you can also pay without an account. On this site, we are only accepting credit card orders. If you wish to pay in cash, please call us at <a href="tel:(956)381-9806">(956)381-9806</a> so that we can make arrangements.<br/>
</p>

<p>
    <h2>Order Pickup</h2>
    We are not doing deliveries! By ordering on this site, you are scheduling an order to be picked up up at Edinburg FUMC (3707 W. University) at any of our order pickup times following your order (along with any handling times). If your order is large and you wish for it to be delivered, please contact us. We will only deliver for orders of 15 loaves or more.<br/>
    <br/>
    The first order pickup day will be October 14th! We apologize for the delays!<br/>
    <br/>
    <table style="border-collapse:collapse;border:1px solid #000000; padding: 15px">
        <tr>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">Pickup Days</td>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">Pickup Times</td>
        </tr>
        <tr>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">Wednesday</td>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">6pm - 8pm</td>
        <tr/>
        <tr>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">Saturday</td>
            <td style="border-collapse:collapse;border:1px solid #000000; padding: 15px">10am - 12pm</td>
        </tr>
    </table>
    <br/>

    <p>
</p>

<p>
    <h2>Recurring Orders</h2>
    If you plan on making a large reoccuring order (i.e. 15 loaves each week in the month of October), please do not order on this site! This site is setup to only take 150 loaves per week, after which the site will enter a lockdown state not allowing any further orders to be placed until the next Sunday. This is done to ease the burden on our volunteer bakers.<br/>
</p>
</div>

<div style="background-color: #a0b76a">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688du-8654fce8-4cc9-4194-8ca9-ee00f596f4bd.jpg/v1/fill/w_894,h_894,q_70,strp/pp1_by_fuzgirl1_de688du-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDgwIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGR1LTg2NTRmY2U4LTRjYzktNDE5NC04Y2E5LWVlMDBmNTk2ZjRiZC5qcGciLCJ3aWR0aCI6Ijw9MTA4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.9MIf_CNIJz_c586L6WVlLvrKvFBNK1gzCtmgqiEXq8c" alt="A man dropping hay in the pumpkin patch">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688de-085e7664-bf42-4e15-9246-48c4cfb865cf.jpg/v1/fill/w_666,h_1200,q_70,strp/pp4_by_fuzgirl1_de688de-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNDQwIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGRlLTA4NWU3NjY0LWJmNDItNGUxNS05MjQ2LTQ4YzRjZmI4NjVjZi5qcGciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.u1zaVWZdluOHWrG5lo1Yj1-dL9UkyB2Sp_md0Hit2SU" alt="A bunch of pumpkins in the patch">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688d7-1a2d11f2-b612-4344-8eac-d936c9591416.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGQ3LTFhMmQxMWYyLWI2MTItNDM0NC04ZWFjLWQ5MzZjOTU5MTQxNi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.8OP2xDOkQIyAbTup4IZBfnQgdkDRikdDimS9-l3LEqQ" alt="A pumpkin patch photobooth">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688dm-a6805f94-50fc-418d-83f0-f828cddbbe1d.jpg/v1/fill/w_670,h_1192,q_70,strp/pp2_by_fuzgirl1_de688dm-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNjAwIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGRtLWE2ODA1Zjk0LTUwZmMtNDE4ZC04M2YwLWY4MjhjZGRiYmUxZC5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.PbHgPePe87dvtntK_VE_V-0unlrj5ng8xAawTbZg_kk" alt="Pumpkin bread in a tray">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688di-a0f823bc-ec06-4b2f-97d7-2dd5ac613a12.jpg/v1/fill/w_907,h_882,q_70,strp/pp3_by_fuzgirl1_de688di-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMjAwIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGRpLWEwZjgyM2JjLWVjMDYtNGIyZi05N2Q3LTJkZDVhYzYxM2ExMi5qcGciLCJ3aWR0aCI6Ijw9MTIzNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.PbMZD_5eskFruVRWzvy4G1Gi0SWFkm_nasaPUyUPhCI" alt="A bunch of pumpkins in the patch">
    <img width="16.3%" height="750" style="object-fit: cover;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688d3-275dde00-d94a-4dc7-b25b-8ab56a75a91c.jpg/v1/fill/w_771,h_1036,q_70,strp/pp6_by_fuzgirl1_de688d3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNDQwIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4OGQzLTI3NWRkZTAwLWQ5NGEtNGRjNy1iMjViLThhYjU2YTc1YTkxYy5qcGciLCJ3aWR0aCI6Ijw9MTA3MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.PyAqoPzJqR45p8nC86j293NNDV9GP6YdPQ7eT-7xpAw" alt="A pumpkin patch photobooth">
</div>
<img width="100%" height="275px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de688cw-4a75d15f-6a04-4909-8b6d-556adbafa2ca.png/v1/fill/w_1280,h_329,strp/trail_by_fuzgirl1_de688cw-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMjkiLCJwYXRoIjoiXC9mXC80YjM1ZmE3Mi1jZmZjLTRkNDYtOGVhZi01ZDljZGI2YTgwYmRcL2RlNjg4Y3ctNGE3NWQxNWYtNmEwNC00OTA5LThiNmQtNTU2YWRiYWZhMmNhLnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.e5xZ1I9Fin64D2AD8OD_-XvPmCJ4Y3PWgUHsgPezZjc" alt="floating image of leaves">
