<!DOCTYPE html>
<html>
<head>
	<title>EFUMC Advent Boxes Donations</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
		/* Move down content because we have a fixed navbar that is 5.0rem tall */
		body {
		  padding-top: 5.0rem;
		}
	</style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./resources/main.css">
</head>
<body id="bootstrap-overrides">
	<%= erb :navigation %>

	<main role="main">
		<div class="container override" style="margin-top: 50px;">
			<% if flash[:success] %>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
				  <%= flash[:success] %>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			<% end %>

			<% if flash[:error] %>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				  <%= flash[:error] %>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			<% end %>
		</div>
		<%= yield %>
	</main>

	<div></div>
	<p></p>

	<hr class="mb-4">

	<footer class="container">
		<p><p>&copy; Edinburg First United Methodist Church 2020</p>
		<p>3707 W. University Dr. - Edinburg, TX 78541</p>
		<p><a href="tel:9563819806">(956)381-9806</a></p>
		<p><a href="mailto:edinburgfirst@sbcglobal.net">edinburgfirst@sbcglobal.net</a></p>
		<a href="https://www.facebook.com/EdinburgFUMC"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de67vqo-46ca648f-245e-4513-a890-9e9b0180caf6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY3dnFvLTQ2Y2E2NDhmLTI0NWUtNDUxMy1hODkwLTllOWIwMTgwY2FmNi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ftTDzVPf_DHrjsBm4LH9po-Cl1xSrWLxnYtOdE2hx6A" alt="facebook icon"></a>
		<a href="https://www.youtube.com/channel/UCRaaxQBAreFjfWsj9jaELSw"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de67vqj-7f9c2d86-a2d8-46d5-b990-436cfad22657.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY3dnFqLTdmOWMyZDg2LWEyZDgtNDZkNS1iOTkwLTQzNmNmYWQyMjY1Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.k01oHjSFkQ1OgR3ZkxkLHi-uZkIuQH0INEn89Bnsg2k" alt="youtube icon"></a>
		<a href="https://www.edinburgfumc.org/"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de67vqw-3086fb81-9934-4698-bcba-5ea4a4c7575e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY3dnF3LTMwODZmYjgxLTk5MzQtNDY5OC1iY2JhLTVlYTRhNGM3NTc1ZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.owkZMSB55Zo2P_S85gIYDImhuIyWsPUIF_c1Mmn2mLI" alt="church website icon"></a>
	<br/><br/>
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>