<link rel="stylesheet" type="text/css" href="./resources/main.css">
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #4d4b3d;" id="bootstrap-overrides">
  <a class="navbar-brand" href="/" style="font-family: 'Pacifico'; color: #f7a406; font-size: 24px;">
    <img href="/resources/images/logo.png">
    Pumpkin Bread
  </a>
  <p style="font-family: 'Epilogue'; font-size: 11px;">Edinburg First United Methodist Church</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="font-family: 'Epilogue';">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart" style="font-family: 'Epilogue';">Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-family: 'Epilogue';">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://edinburgfumc.org" style="font-family: 'Epilogue';">Back to Main Website</a>
      </li>

    </ul>
  </div>
</nav>