<link rel="stylesheet" type="text/css" href="./resources/main.css">
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #4d4b3d;" id="bootstrap-overrides">
  <a class="navbar-brand" href="/" style="font-family: 'Pacifico'; color: #f7a406; font-size: 24px;">
  <img style="float: left; padding-right:16px" height="75" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b35fa72-cffc-4d46-8eaf-5d9cdb6a80bd/de687gk-24f7a0dd-b8c5-43ea-8f81-42fa2b5bae66.png/v1/fill/w_661,h_1210,strp/logo_by_fuzgirl1_de687gk-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMzgyIiwicGF0aCI6IlwvZlwvNGIzNWZhNzItY2ZmYy00ZDQ2LThlYWYtNWQ5Y2RiNmE4MGJkXC9kZTY4N2drLTI0ZjdhMGRkLWI4YzUtNDNlYS04ZjgxLTQyZmEyYjViYWU2Ni5wbmciLCJ3aWR0aCI6Ijw9NzU1In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.K4k9BrYZT3pp-0hvWG_JJghxGZ1yVKj0fncWGK61WCA" alt="EFUMC Logo">
  <p>
    <ul style="list-style-type: none;">
      <li>Pumpkin Bread</li>
      <li><p style="font-family: 'Epilogue'; font-size: 11px; float:bottom;">Edinburg First United Methodist Church</p></li>
    </ul>
  </p>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="font-family: 'Epilogue';">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart" style="font-family: 'Epilogue';">Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-family: 'Epilogue';">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://edinburgfumc.org" style="font-family: 'Epilogue';">Back to Main Website</a>
      </li>

    </ul>
  </div>
</nav>