<nav id="bootstrap-overrides-nav" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">
    <img style="float: left; padding-right:16px" height="75" src="logo.png" alt="EFUMC Logo">
    <p>
      <ul style="list-style-type: none;">
        <li>Food Pantry Box</li>
        <li><p style="font-family: 'Epilogue'; font-size: 11px; float:bottom;">Edinburg First United Methodist Church</p></li>
      </ul>
    </p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://edinburgfumc.org">Church Website</a>
      </li>
    </ul>
  </div>
</nav>