<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #0A1E33;">
  <a class="navbar-brand" href="/" style="font-family: 'Pacifico'; color: #ffffff; font-size: 24px;">
    <img style="float: left; padding-right:16px" height="75" src="logo_gray.png" alt="EFUMC Logo">
    <p>
      <ul style="list-style-type: none;">
        <li>Food Pantry Boxes</li>
        <li><p style="font-family: 'Epilogue'; font-size: 11px; float:bottom;">Edinburg First United Methodist Church</p></li>
      </ul>
    </p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="font-family: 'Epilogue';">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart" style="font-family: 'Epilogue';">Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://edinburgfumc.org" style="font-family: 'Epilogue';">Back to Main Website</a>
      </li>
    </ul>
  </div>
</nav>